body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  div{
    text-align: center;
    align-items: center;
  }
  
  
  .counter {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    padding: 70px;
    text-align: center;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: x-large;

  }
 
#add-btn {
    
    align-items: center;
   margin: 30px; 
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 100%;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, red 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  
}

#button:active {
  transform: scale(0.95);
}
